<div class="app-searchby">
  <p-panel header="{{ 'tab.title' | translate }}">
    <div class="app-search">
      <i class="pi pi-book"></i>
      <p-multiSelect
        [options]="titles"
        [(ngModel)]="selectedTitles"
        (onChange)="onChange()"
        (onFilter)="onFilter($event)"
        placeholder="{{ 'search.select-titles' | translate }}"
        optionLabel="title"
        display="chip"
        [style]="{ width: 'calc(var(--wrapperWith) - 90px)' }">
        <ng-template let-title pTemplate="item">
          <div [innerHTML]="title.title | highlight : filter"></div>
        </ng-template>
      </p-multiSelect>
    </div>
  </p-panel>
  <app-results [videos]="videos"></app-results>
</div>