<div class="app-searchby">
  <p-panel header="{{ 'tab.date' | translate }}">
    <div class="app-search">
      <div class="app-datepicker">
        <label>{{ "search.from" | translate }}</label>
        <p-datepicker
          [(ngModel)]="dateFrom"
          dateFormat="yy-mm-dd"
          view="month"
          [minDate]="minDateFrom"
          [maxDate]="maxDateFrom"
          [showIcon]="true"
          [readonlyInput]="true"
          (onSelect)="onDateFromChange()" />
      </div>
      <div class="app-datepicker">
        <label>{{ "search.to" | translate }}</label>
        <p-datepicker
          [(ngModel)]="dateTo"
          dateFormat="yy-mm-dd"
          view="month"
          [minDate]="minDateTo"
          [maxDate]="maxDateTo"
          [showIcon]="true"
          [readonlyInput]="true"
          (onSelect)="onDateToChange()" />
      </div>
    </div>
  </p-panel>
  <app-results [videos]="videos"></app-results>
</div>