<p-panel header="{{ 'tab.about' | translate }}">
  <div class="app-about text-muted-color">
    <div class="app-center">
      <img class="app-logo" src="assets/img/lfpe-logo.webp" />
    </div>
    <div class="app-center">
      <label class="title">{{ title1 }}</label>
      <label class="title">{{ title2 }}</label>
      <label>Version {{ version }}<br /></label>
      @if (build) {
      <label>Build {{ build | date: "yyyyMMddHHmmss" : "UTC" }}</label>
      }
      @if (lastUpdated) {
      <label class="updated">{{ "about.updated" | translate }}</label>
      }
      @if (lastUpdated) {
      <label class="updated">{{ lastUpdated | date: "yyyy-MM-dd HH:mm:ss" : "UTC" }} UTC</label>
      }
      <label class="app-source">{{ "about.source" | translate }}&nbsp;<a
          href="{{ url }}"
          class="app-a">{{ url }}</a></label>
      <label>
        {{ "about.license" | translate }}
        <a
          href="https://www.gnu.org/licenses/gpl-3.0.en.html"
          target="_blank"
          class="app-a">GNU GPLv3</a>
      </label>
    </div>
    <div class="app-quote-right">
      <i>
        {{ "about.quote.line1" | translate }}<br />
        {{ "about.quote.line2" | translate }}<br />
        {{ "about.quote.line3" | translate }}<br />
      </i>
      <br />
      {{ "about.quote.ref1" | translate }}<br />
      {{ "about.quote.ref2" | translate }}
    </div>
  </div>
</p-panel>