@import "variables"

.app-header
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center
  align-content: center
  margin-bottom: 16px
  gap: 0 8px
  .app-menu
    display: flex
    flex-direction: row
    align-items: center
    justify-content: left
    align-content: center
    width: 100%
    display: none
  .app-menubar
    flex-direction: row
    align-items: center
    justify-content: left
    display: inline
    width: 100%
  .app-setting
    display: grid
    grid-template-columns: 1fr 0fr
    align-items: center
    column-gap: 0.5em
  .app-darkmode
    display: inline-flex
    align-items: center
    justify-content: center
    margin: 0 8px

// ===================================================
@media screen and (max-width: $mobile-menu-breakpoint)
  .app-header
    margin: 8px 8px
    .app-menu
      display: inline
    .app-menubar
      display: none
