<header class="app-header">
  <div class="app-menu">
    <p-menu #menu [model]="items" [popup]="true" />
    <p-button (click)="menu.toggle($event)" icon="pi pi-bars" />
  </div>
  <div class="app-menubar">
    <p-menubar [model]="items" />
  </div>
  <div class="app-setting">
    <p-select
      [options]="langs"
      [(ngModel)]="selectedLang"
      (onChange)="onLangChange()"
      optionLabel="code"
      dropdownIcon="pi pi-globe">
      <ng-template let-lang pTemplate="item">
        <div>
          <label style="display: inline-block; width: 1rem">{{
            lang.code
            }}</label>
          - {{ lang.name }}
        </div>
      </ng-template>
    </p-select>
    <button type="button" class="app-darkmode" (click)="onToggleChange()">
      <i class="pi" [ngClass]="{ 'pi-moon': isDarkMode, 'pi-sun': !isDarkMode }"></i>
    </button>
  </div>
</header>